<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhoup.service.mapper.ActivityCategoryMapper">
  <resultMap id="BaseResultMap" type="org.zhoup.service.entity.ActivityCategory">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="last_update_time" jdbcType="BIGINT" property="lastUpdateTime" />
    <result column="use_count" jdbcType="VARCHAR" property="useCount" />
  </resultMap>
</mapper>