<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhoup.service.mapper.CarImageMapper">
  <resultMap id="BaseResultMap" type="org.zhoup.service.entity.CarImage">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="car_id" jdbcType="INTEGER" property="carId" />
    <result column="img_title" jdbcType="VARCHAR" property="imgTitle" />
    <result column="img_type" jdbcType="INTEGER" property="imgType" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="sync_time" jdbcType="BIGINT" property="syncTime" />
  </resultMap>
</mapper>