<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhoup.service.mapper.CarMakeMapper">
  <resultMap id="BaseResultMap" type="org.zhoup.service.entity.CarMake">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="other_name" jdbcType="VARCHAR" property="otherName" />
    <result column="english_name" jdbcType="VARCHAR" property="englishName" />
    <result column="manufacturer_id" jdbcType="INTEGER" property="manufacturerId" />
    <result column="country_id" jdbcType="INTEGER" property="countryId" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="website" jdbcType="VARCHAR" property="website" />
    <result column="logo_url" jdbcType="VARCHAR" property="logoUrl" />
    <result column="spell" jdbcType="VARCHAR" property="spell" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
    <result column="is_enabled" jdbcType="TINYINT" property="isEnabled" />
    <result column="is_removed" jdbcType="TINYINT" property="isRemoved" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="sync_time" jdbcType="BIGINT" property="syncTime" />
  </resultMap>
</mapper>