<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhoup.service.mapper.MemberLoginLogMapper">
  <resultMap id="BaseResultMap" type="org.zhoup.service.entity.MemberLoginLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="login_time" jdbcType="BIGINT" property="loginTime" />
    <result column="is_first" jdbcType="TINYINT" property="isFirst" />
    <result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
  </resultMap>
</mapper>