<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhoup.service.mapper.SdkTempMapper">
  <resultMap id="BaseResultMap" type="org.zhoup.service.entity.SdkTemp">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="activity_id" jdbcType="INTEGER" property="activityId" />
    <result column="sdk_path" jdbcType="VARCHAR" property="sdkPath" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="sdk_name" jdbcType="VARCHAR" property="sdkName" />
  </resultMap>
</mapper>