<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zhoup.service.mapper.SysMenuMapper">
  <resultMap id="BaseResultMap" type="org.zhoup.service.entity.SysMenu">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="menu_id" jdbcType="BIGINT" property="menuId" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="perms" jdbcType="VARCHAR" property="perms" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="order_num" jdbcType="INTEGER" property="orderNum" />
  </resultMap>

  <select id="findMenuByPage" resultMap="BaseResultMap" parameterType="org.zhoup.service.dto.QueryDTO">
      select m.*,n.name parentName from sys_menu m
      left join sys_menu n
      on m.parent_id = n.menu_id
      <where>
        <if test="search!=null and search!=''">
          and m.name like concat('%',#{search},'%')
        </if>
      </where>
        <if test="sort!=null and sort!=''">
          and order by m.${sort} ${order}
        </if>
  </select>

    <select id="findMenuTree" resultMap="BaseResultMap">
        select * from sys_menu where type != 2
    </select>

    <select id="findPermsByUserId" parameterType="long" resultType="String">
      select distinct m.perms
      from sys_menu m
      inner join sys_role_menu rm
      on m.menu_id = rm.menu_id
      inner join sys_user_role ur
      on rm.role_id = ur.role_id
      inner join sys_user u
      on ur.user_id = u.user_id
      where u.user_id = #{user_id}
  </select>
  <!-- 查询菜单的一级目录 -->
  <select id="findMenuByUserId" parameterType="long" resultType="java.util.Map">
    select DISTINCT m.menu_id menuId,parent_id,name,type,icon
    from sys_menu m
    inner join sys_role_menu rm
    on m.menu_id = rm.menu_id
    inner join sys_user_role ur
    on rm.role_id = ur.role_id
    where type = 0 and ur.user_id = #{userId}
  </select>

  <!-- 查询一级目录对应的菜单 -->
  <select id="findMenuNotButtonByUserId" parameterType="java.util.Map" resultType="java.util.Map">
    select DISTINCT
    m.menu_id menuId, parent_id parenId, name , type , icon,url
    from sys_menu m
    INNER JOIN sys_role_menu rm
    on m.menu_id = rm.menu_id
    INNER JOIN sys_user_role ur
    on rm.role_id = ur.role_id
    INNER JOIN sys_user u
    on ur.user_id = u.user_id
    where m.type = 1 and
    m.parent_id = #{parentId}
    and u.user_id=#{userId}
  </select>

</mapper>